<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="left-section">
                <img src="static/Logo.png" alt="EduTrack Logo" class="logo">
                <img src="static/Group 1.png" alt="Classroom Image" class="classroom-image">
            </div>
            <div class="divider"></div>
            <div class="right-section">
                <input type="text" placeholder="학번" class="input-field">
                <input type="password" placeholder="비밀번호" class="input-field">
                <button class="login-button">로그인</button>
            </div>
        </div>
    </div>
  </body>
  </html>